[Unit]
Description=UpdateAzureRMDDNS
After=network.target

[Service]
ExecStart=/opt/NodeJSAzureDynamicDNS/UpdateAzureRMDDNS.js
Restart=always
User=root
Group=root
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/opt/NodeJSAzureDynamicDNS

[Install]
WantedBy=multi-user.target
